html {
  background-image: url("../images/background.jpg");
  margin: 0;
  padding: 0;
}

body {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2B2B30;
  color: #fff;
  padding: 3rem 4rem;
  width: fit-content;
  border: 1px solid #fff;
  border-radius: 10px;
}

h1 {
  margin: 0 0 1rem;
  font-size: 3rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button {
  border-radius: 10px;
  padding: 0.5rem 1.4rem;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  transition: 0.3s;
}

button:active {
  transform: translateY(2px);
  padding: 0.5rem 1.6rem;
}

.button-1 {
  background-color: #13C2C2;
}

.button-2 {
  background-color: #81B227;
}

.button-3 {
  background-color: #FF6300;
}


.input-snakes {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

label {
  font-size: 1.2rem;
}

.label-blue {
  color: #13C2C2;
}

.input-blue {
  background-color: #B8E7E7;
}

.label-green {
  color: #81B227;
}

.input-green {
  background-color: #E2F2C4;
}


.label-orange {
  color: #FF6300;

}

.input-orange {
  background-color: #F5D3BE;
}

.button-start {
  background-color: transparent;
  border: 1px solid #fff;
}

p {
 font-size: 1.4rem;
 margin: 0 0 1rem;
}

/* colors */
/* snake 1: #13C2C2 */
/* snake 2: #81B227 */
/* snake 3: #FF6300 */

/* light snake 1: #B8E7E7 */
/* light snake 2: #E2F2C4 */
/* light snake 3: #F5D3BE */

/* main colors */
/* dark: #2B2B30 */
/* light: #FFFFFF */