html {
  font-family: 'Bubblegum Sans', cursive;
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 0;
  padding: 0;
}

#gameCanvas {
  margin-top: 4rem;
  border: solid white 5px;
}

.game-over-dialog {
  position: absolute;
}

#score {
  color: #fff;
  font-size: 1.5rem;
  background-color: #373739;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
}

body {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.row img {
  width: 2rem;
  height: auto;
  margin: 0 1rem 0.8rem 0;

}

section,
form,
.game-over-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45%;
  background-color: #373739;
  color: #fff;
  padding: 3rem 4rem;
  width: fit-content;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: -12px -12px 12px 0px #252526, 12px 12px 12px 0px #252526;
}

.button-start,
.game-over-dialog button {
  background-color: transparent;
  border: 1px solid #fff;
  font-size: 1.8rem;
}

h1 {
  margin: 0 0 1rem;
  font-size: 3rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.buttons-besturing {
  display: flex;
  justify-content: space-between;
  width: 40%;

}

button {
  border-radius: 10px;
  padding: 0.5rem 1.4rem;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  transition: 0.3s;
  font-family: 'Bubblegum Sans', cursive;
}

button:active {
  transform: translateY(2px);
  padding: 0.5rem 1.6rem;
}

.button-1 {
  background-color: #13C2C2;
}

.button-2 {
  background-color: #81B227;
}

.button-3 {
  background-color: #FF6300;
}


.input-snakes {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

input {
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

label {
  font-size: 1.2rem;
}

.label-blue {
  color: #13C2C2;
}

.input-blue {
  background-color: #B8E7E7;
}

.label-green {
  color: #81B227;
}

.input-green {
  background-color: #E2F2C4;
}


.label-orange {
  color: #FF6300;
}

.input-orange {
  background-color: #F5D3BE;
}

p {
  font-size: 1.4rem;
  margin: 0 0 1rem;
}

/* colors */
/* snake 1: #13C2C2 */
/* snake 2: #81B227 */
/* snake 3: #FF6300 */

/* light snake 1: #B8E7E7 */
/* light snake 2: #E2F2C4 */
/* light snake 3: #F5D3BE */

/* main colors */
/* dark: #2B2B30 */
/* light: #FFFFFF */