<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>Snake Game</title>
</head>

<body>
  <section>
    <h1>Game Over</h1>

    <p class="label-blue">Snake 1: 10</p>
    <p class="label-green">Snake 2 : 8</p>
    <p class="label-orange">Snake 3: 12</p>
    <a href="/">
      <button class="button-start">Start New Game</button>
    </a>

  </section>
</body>

</html>