<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>Snake Game</title>
</head>

<body>
  <section>
    <div class="row">
      <a href="/start">
        <img src="../static/images/round_arrow.png" alt="arrow">
      </a>
      <h1>Kies uw naam</h1>
    </div>
    <div class="input-snakes">
      <label class="label-blue" for="input">Snake</label>
      <input class="input-blue" type="text" placeholder="Snake" name="player_name" id="player_name">
    </div>
    <a href="/snake-game-1-player" id="startGameButton">
      <button class="button-start">Start Game</button>
    </a>

  </section>
  <script src="../static/js/firebase_snake_1.js" type="module"></script>
  <script src="../static/js/firebase_snake_1.js" type="module"></script>
</body>

</html>