<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>Snake Game</title>
</head>

<body>
  <canvas id="gameCanvas" width="600" height="600"></canvas>
  <p id="score"><span class="label-blue">Snake 1: 0</span> | <span class="label-green">Snake 2: 0</span></p>

  <script src="../static/js/snake_game_2.js"></script>
  <script src="../static/js/firebase_snake_2.js" type="module"></script>
</body>

</html>