<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>Snake Game</title>
</head>

<body>

  <section>
    <div class="row">
      <a href="/besturing">
        <img src="../static/images/round_arrow.png" alt="arrow">
      </a>
      <h1>Kies het aantal spelers</h1>
    </div>
    <div class="buttons">
      <a href="/1player">
        <button class="button-1">1 Player</button>
      </a>
      <a href="/2players">
        <button class="button-2">2 Players</button>
      </a>
      <a href="/3players">
        <button class="button-3">3 Players</button>
      </a>
    </div>

    <a href="/highscores">
      <button class="button-start">High Scores</button>
    </a>

  </section>

</body>

</html>