<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>Snake Game</title>
</head>
<body>
  <section>
    <h1>De besturing</h1>
    <div>
      <p class="label-blue">Snake 1 is met de playstation controller. Het is vrij simpel je gebruikt de joystick om
        naar boven, onder, links en rechts te gaan.
      </p>
  
      <p class="label-green">Snake 2 is met de 4 buttons. Groen is boven, rood is beneden, geel is links en wit is 
        rechts.
      </p>
      
      <p class="label-orange">Snake 3 is met de camera. Je wijst naar links voor naar links te gaan, rechts voor
        rechts, boven voor naar boven en onder voor naar onder te gaan.
      </p>
    </div>

    <div class="buttons-besturing">
      <a href="/">
        <button class="button-start">Vorige</button>
      </a>
      <a href="/start">
        <button class="button-start">Volgende</button>
      </a>

    </div>
    
  </section>
</body>
</html>