<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <title>Snake Game</title>
</head>

<body>
  <section>
    <h1>Welkom bij Snake!</h1>
    <div>
      <p class="label-blue">Een IOT game gemaakt door Aya Kardes, Robin Decraene
        en Ruveyda Kartal.</p>

      <p class="label-green">De game zelf is vrij simpel je kan kiezenof je alleen
        speelt, met twee speelt, of met drie en het is de bedoeling
        dat je zoveel mogelijk bolletjes opeet met je snake.</p>

      <p class="label-orange">De gene met de hoogste score wint. Er is ook een
        pagina waar je alle scores kan zien. Je kan daar dus
        jezelf vergelijken met andere mensen.</p>
    </div>
    <a href="/besturing">
      <button class="button-start">Volgende</button>
    </a>

  </section>

</body>

</html>